In [61]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/chenhong/Desktop/project/data analysis/Reviews Sentiment_Analysis_and Classification/tripadvisor_hotel_reviews.csv')

In [62]:
data.head(5)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [63]:
data.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [64]:
data.shape

(20491, 2)

In [65]:
data.isnull().sum()

Review    0
Rating    0
dtype: int64

In [66]:
blank=[]
for index in data['Review']:
    if index.isspace() ==True:
        blank.append(index)

In [67]:
blank

[]

In [68]:
data['Rating'].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [69]:
def rating(rating):
    if rating > 3 and rating<=5:
        return 'Positive'
    if rating > 0 and rating <=3:
        return 'Negative'

data['Rating_posorneg'] = data['Rating'].apply(rating)

In [70]:
data.head()

                                              Review  Rating Rating_posorneg
0  nice hotel expensive parking got good deal sta...       4        Positive
1  ok nothing special charge diamond member hilto...       2        Negative
2  nice rooms not 4* experience hotel monaco seat...       3        Negative
3  unique, great stay, wonderful time hotel monac...       5        Positive
4  great stay great stay, went seahawk game aweso...       5        Positive

In [71]:
data['Rating_posorneg'].value_counts()

Positive    15093
Negative     5398
Name: Rating_posorneg, dtype: int64

-------sentiment analysis-----

In [72]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/chenhong/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [73]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
senanalyze = SentimentIntensityAnalyzer()

In [74]:
data['Scores'] = data['Review'].apply(lambda review: senanalyze.polarity_scores(review))

In [75]:
data.head()

,Review,Rating,Rating_posorneg,Scores
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co..."
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com..."
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com..."
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co..."

In [76]:
data['compound'] = data['Scores'].apply(lambda f:f['compound'])

In [77]:
data.head()

,Review,Rating,Rating_posorneg,Scores,compound
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797

In [78]:
df = data.copy()

In [79]:
df['compound_posorneg'] = df['compound'].apply(lambda score:'Positive' if score >= 0 else 'Negative' )

In [80]:
df.head()

,Review,Rating,Rating_posorneg,Scores,compound,compound_posorneg
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,Positive
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,Positive
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,Positive
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,Positive
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,Positive

In [81]:
example = "hotel was excellent and i enjoyed it"
senanalyze.polarity_scores(example)

{'neg': 0.0, 'neu': 0.364, 'pos': 0.636, 'compound': 0.7906}

-----classification of reviews-------

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x = df['Review']
y = df['Rating_posorneg']

In [84]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [85]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [86]:
textclf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [88]:
textclf.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [89]:
preds = textclf.predict(x_test)

In [90]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,preds))

0.9007807417046194

In [91]:
newreview = [('hotel was perfect, we liked it')]
textclf.predict(newreview)

array(['Positive'], dtype=object)